/* || Variables */

:root {
    --dark-blue: #1c2833;
    --light-blue: #34495e;
    --primary-text: #ecf0f1;
}

/* || Typography */

/* nunito-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/nunito-v26-latin-regular.woff2') format('woff2');
}
/* nunito-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/nunito-v26-latin-italic.woff2') format('woff2');
}
/* nunito-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/nunito-v26-latin-700.woff2') format('woff2');
}

/* || Layout */

body {
    background-color: var(--dark-blue);
    font-family: 'Nunito', sans-serif;
    color: var(--primary-text);
}

main {
    padding: 100px;
}

/* || General styles */

h1,
h2,
h3,
p {
    line-height: 1;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

form {
    text-align: center;
    margin-bottom: 100px;
}

input {
    background-color: var(--light-blue);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
}

input::placeholder {
    opacity: 0.6;
}

input:focus-visible,
button:focus-visible {
    outline: var(--primary-text) 2px solid;
}

button {
    background-color: var(--light-blue);
    padding: 0.25em 0.75em;
    border-radius: 0.25em;
    margin-left: 20px;
}

@media (hover: hover) {
    button:hover {
        background-color: var(--primary-text);
        color: var(--dark-blue);
    }
}

button:active {
    filter: brightness(85%);
}

/* || Custom */

.today_card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.today_card > img {
    width: 150px;
    height: 150px;
}

.current_temperature_wrapper > h2 {
    font-size: 4rem;
}
.current_temperature_wrapper > p {
    font-size: 1.25rem;
    font-style: italic;
    opacity: 60%;
}

.daily_card_container {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.daily_card_container > section {
    text-align: center;
    padding: 25px 0;
}

.daily_card_container p {
    font-size: 1rem;
}

.divider {
    width: 2px;
    background: var(--primary-text);
    opacity: 20%;
}
